@font-face {
    font-family: 'DrukCondSuper';
    src: url('https://draphael89.github.io/custom-fonts-for-unbounce/DrukCond-Super-App.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
