@font-face {
    font-family: 'DrukCondSuper';
    src: url('https://github.com/draphael89/custom_fonts_unbounce/blob/301d8901f59c8ca2889f019f659caf893d22f7bb/DrukCond-Super-App.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
